<div>
    <table>
        <thead>
            <th>Index</th>
            <th>SN</th>
            <th>Name</th>
            <th>Category</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr *ngFor="let elm of assetsList; let i = index">
                <td>{{elm.index}}</td>
                <td>{{elm.asset.SN}}</td>
                <td>{{elm.asset.name}}</td>
                <td>{{elm.kit}}</td>
                <td>{{elm.note}}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" (click)="NewScan()">New Scan</button>
</div>