<div>
    <h2>Create new Asset</h2>
    <div>
        <form [formGroup]="assetForm" (ngSubmit)="CreateNewAsset">
            <div class="form-group">
                <label>Asset details</label>
                <br>
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" required [(ngModel)]="currentAsset.name" name="name">
                <label>Category</label>
                <input type="text" class="form-control" formControlName="category" required [(ngModel)]="currentAsset.category"
                    name="category">
                <label>Status</label>
                <input type="text" class="form-control" formControlName="status" required [(ngModel)]="currentAsset.status"
                    name="status">
                <label>SN</label>
                <input type="Number" class="form-control" formControlName="SN" required [(ngModel)]="currentAsset.SN" name="SN"
                    [readonly]="true">
                <br>
                <button type="submit" (click)="CreateNewAsset()" *ngIf="currentAsset">Create</button>
            </div>
        </form>
    </div>
    <br>
    <button type="button" routerLink="/barcode-scanner">back to scanner</button>
</div>