<div>
    <h1>Barcode Scanner</h1>

    <div *ngIf="awaitData">
        <p>Waiting information...</p>
    </div>

    <!-- *ngIf per nascondere la camera se il barcode è stato scannerizzato -->
    <div *ngIf="isEnabledCamera">
        <span class="form-group">
            <select [(ngModel)]="decoderSelected" (change)="onDecoderOptionChange()">
                <option value="ean_reader">ean_reader</option>
                <option value="code_128_reader">code_128_reader</option>
            </select>
        </span>
        <br>
        <br>
        <span id="scanner-container"></span>
    </div>

    <div class="assetOnDB" *ngIf="!isEnabledCamera && !awaitData">
        <div *ngIf="assetOnDB.id != '0'">
            <ul>
                <li>{{assetOnDB.id}}</li>
                <li>{{assetOnDB.SN}}</li>
                <li>{{assetOnDB.category}}</li>
                <li>{{assetOnDB.name}}</li>
                <li>{{assetOnDB.status}}</li>
            </ul>
        </div>
        <div *ngIf="assetOnDB.id == '0'">
            <h3>New barcode scanned</h3>
            <p>If this is a new Item, please create the referance</p>
            <P>If the item is an existing one, please take another scan</P>
            <button type="button" (click)="CreateNewAsset()">Create new element</button>
        </div>
    </div>

    <div *ngIf="!isEnabledCamera && !awaitData">
        <p>If this not the asset are you looking for, make a new scan, and try to change the reader type</p>
        <button type="button" (click)="NewScan()">New Scan</button>
        <p>Add this asset to the shipment list</p>
        <button type="button" (click)="AddAsset(assetOnDB)">Add asset</button>
    </div>

    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>